<div id="container">
  <form action="/create" method="POST">
  <label> Name <input type="text" name="name" placeholder="put your name"></label>
  <label>Email<input type="text" name="email"></label>
  <input type="submit" value="Submit">
  </form>
</div>
